<h1>"YOU BETTA WERK!"</h1>
<img src = "/images/you_betta_twerk.gif" alt="Ru Paul wants you to WERK">

<form action="" method="post" accept-charset="utf-8" id="Werkform">

  <label for="taskname">Task Name</label>
  <input type="text" name="taskname" value="" id="taskname" required > 
  <!-- "required" is an edge clause: when inteacting with the form, failure to 
  enter a value in taskname will result in a prompt to do so.  -->

  <label for="description">Description (optional)</label>
  <input type="text" name="description" value="" id="description">

  <input type="submit" value="YOU BETTA WERK">
</form>


