<form action="" method="post" accept-charset="utf-8">

  <label for="id">ID</label>
  <input type="text" name="id" value="" id="id">
  
  <label for="taskname">Task Name</label>
  <input type="text" name="taskname" value="" id="taskname">

  <label for="description">Description (optional)</label>
  <input type="text" name="description" value="" id="description">

  <label for="datecomp">Date Completed:</label>
  <input type="text" name="datecomp" value="" id="datecomp">

  <input type="submit" value="YOU BETTA WERK">

<img src = "/images/you_betta_twerk.gif" alt="Ru Paul wants you to WERK">

</form>

<%= params %>
